@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

body {
  font-family: "Raleway", sans-serif;
  color: black;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  color: black;
  /* margin: 20px 40px; */
}

h2 {
  font-size: large;
  color: black;
}

h3 {
  font-size: medium;
  font-weight: bold;
  color: black;
}

p {
  font-size: medium;
  color: black;
}

.section_title {
  margin: 15px;
}

.main_wrapper {
  max-width: 1400px;
  margin: auto;
}


/* header*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  width: 100%;
}

.logo {
    margin: 20px 30px;
}

nav {
  display: flex;
  align-items: center;
  order: 3;
  width: 100%;
}

.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    border-bottom: 3px solid #f2f2f2;
    padding: 20px;
    width: 50%;
}

.nav_item:hover {
  color: #0065fc;
  text-decoration: none;
  border-bottom: 3px solid #0065fc;
  padding: 20px;
}

.register {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  order: 2;
  color: #0065fc;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
}

@media screen and (min-width: 800px) {

    header {
        display: flex;
        align-items: center;
        width: 100%;
      }

      nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: auto;
        order: 2;
        flex: 1;
      }

      .nav_item {
        border-top: 3px solid #f2f2f2;
        border-bottom: 3px solid white;
        padding: 30px;
        width: auto;
    }

      .nav_item:hover {
        border-top: 3px solid #0065fc;
        border-bottom: 3px solid white;
        padding: 30px;
      }

      .register {
        display: flex;
        flex: 0;
        order:3;
        align-items: center;
        margin: 20px;
    }

}


/*search section*/

.main_title {
  margin: 30px 
}

.search_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
  padding: 0px;
  border: #f2f2f2 solid 1px;
  border-radius: 18px;
}

.map_marker_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  margin: 0px;
}

.input_field {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

input {
  border-width: 0px;
  border:none;
  font-size: large;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  width: 100%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  background-color: #0065fc;
  border-radius: 15px;
  border: none;
  margin: 0px;
}

button i {
  color: white;
}

.search_text {
  display: none;
}

@media screen and (min-width: 800px) {
  
  .search_bar {
    max-width: 500px;
  }

  button {
    min-width: 120px;
    min-height: 50px;
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    border: none;
    margin: 0px;
  }

  button i {
    display: none;
    visibility: hidden;
  }
  
  .search_text {
    font-size: medium;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: white;
    display: block;
    margin-right: 15px;
  }
  
}


/*filters*/

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.filters_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.filters_items {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px;
}

input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.filters_item i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  width: 30px;
  height: 30px;
  color: #0065fc; 
  border-radius: 30px;
  /* border: 2px solid #DEEBFF; */
  background-color: #DEEBFF;
}

.filters_item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 2px solid #D9D9D9;
  border-radius: 50px;
  margin: 7px;
  user-select: none;
  font-weight: bold;
}

.filters_name {
  padding: 0px 15px;
}

/* .filters_item:hover i {
  background-color: #DEEBFF;
  color: #0065fc;
} */

.filters_items input:checked + label {
  color: #0065fc;
  background-color: #DEEBFF;
  border: 2px solid #0065fc;
}

.filters_items input:checked + label i { 
  color:#DEEBFF;
  background-color: #0065fc;
}

.grow {
  transition: all .2s ease-in-out; 
}

.grow:hover {
  transform: scale(1.1); 
}

@media screen and (min-width: 800px) {

  .filters {
    flex-direction: row;
    align-items: baseline;
  }

  .filters_item {
    margin: 15px;
  }
}


/* info alert */

.info_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 40px;
  padding: 10px;
}

.fa-info {
  color: #0065fc;
}

.info_alert {
    display: flex;
    align-items: center;
    margin: 30px 30px;  
}

.info_alert_accomodation {
  padding-left: 20px;
}

.info_text{
  display: flex;
  flex-wrap: wrap ;
  font-weight: normal;
  margin: 0px 20px;
}



/* popular */

.popular {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 40px 20px;
}

.popular_main_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

article {
  display: flex;
}

.thumbnail_popular {
  display: flex;
  justify-content: space-between;
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #D9D9D9;
  text-decoration: none;
  margin: 10px;
  height: 140px;
  width: 100%;
}

.thumbnail_picture_popular {
  display: flex;
  width: 40%; 
  height: 100%;
  object-fit: cover; 
  border-radius: 20px 0px 0px 20px;
}

.thumbnail_content_popular {
  display: flex;
  width: 60%; 
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  overflow: hidden;
}

.rating {
display: flex;
}

.fa-star {
  color: #0065fc;
}



/*accomodation*/

#accomodation_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.thumbnail_accomodation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #D9D9D9;
  text-decoration: none;
  margin: 15px;
  max-height: 200px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.thumbnail_picture_accomodation {
  display: flex;
  width: 100%; 
  height: 60%;
  /* height: 150px; */
  object-fit: cover; 
  border-radius: 20px 20px 0px 0px;
}

.thumbnail_content_accomodation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto; 
  height: 40%;
  background-color: white;
  padding: 10px;
  overflow: hidden;
}

.hotel_name {
  margin: 5px 0px;
}

.price {
  margin: 5px 0px;
}

.rating {
  margin: 2.5px 0px;
}

.bargain {
  font-weight: bold;
}

.more {
  margin: 30px 15px;
}


@media screen and (min-width: 800px) {

  .popular_accomodation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .popular {
    display: flex;
    background-color: #f2f2f2;
    padding: 20px;
    border: 0px;
    border-radius: 20px;
    width: auto;
    margin: 30px;
    }

    .popular_items {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .article_popular {
      width: 33.3%;
    }

    #accomodation_main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #f2f2f2;
      border: 0px;
      border-radius: 20px;
      width: auto;
      padding: 20px;
      margin: 30px;
    }
    
    .accomodation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    height: 100%;
  }  

  .article_accomodation {
    display: flex;
    width: 33.3%;
    height: 50%;
  }

  
}

@media screen and (min-width: 1050px) {

  #accomodation_main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    border: 0px;
    border-radius: 20px;
    width: 70%;
    padding: 20px;
    height: auto;
    margin: 0px 15px 0px 30px;
    }


  .popular_accomodation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: auto;
  }

  .popular {
    display: flex;
    background-color: #f2f2f2;
    padding: 20px;
    border: 0px;
    border-radius: 20px;
    width: 30%;
    height: auto;
    margin: 0px 30px 0px 15px;
    }

    .article_popular {
      width: 100%;
    } 

    .accomodation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    height: 100%;
  }  

  .article_accomodation {
    display: flex;
    width: 33.3%;
    height: 50%;
  }
    
  .thumbnail_accomodation {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #D9D9D9;
  text-decoration: none;
  margin: 10px;
  }

  .thumbnail_picture_accomodation {
    height: 60%;
  }

  .thumbnail_content_accomodation {
    display: flex;
    width: auto; 
    height: 40%;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    overflow: hidden;
  }

  .popular_items{
    display: flex;
    flex-direction: column;
  }

  .popular_main_title {
    margin: 15px;
}

  .popular_title {
    margin: 0px;
  }

  .title {
    display: flex;
    height: min-content;
  }

  .hotel_name {
    margin: 2px 0px;
  }
  
  .price {
    margin: 2px 0px;
  }

  .rating {
    margin: 3px 0px;
  }

  .more {
    margin: 0px 10px;
    display: flex;
    height: min-content;
  }

  .thumbnail_text {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  
} 
  

/*activities*/

#activities {
  padding: 20px;
}

.activities_in_Marseille {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
}

.thumbnail_activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #D9D9D9;
  text-decoration: none;
  height: 220px;
  width: 100%;
  margin: 10px;
}

.thumbnail_picture_activities {
  display: flex;
  width: 100%; 
  height: 70%;
  object-fit: cover; 
  border-radius: 20px 20px 0px 0px;
}

.thumbnail_content_activities {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%; 
  height: 30%;
}


@media screen and (min-width: 800px) {

  #activities {
    padding: 40px 20px;
  }

  .activities_in_Marseille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 40px);
  }

  .place {
    margin: 0px;
    padding-left: 20px;
    overflow: hidden;
  }

  .old_port {
    grid-column: 1 / 2;
    grid-row: 1 / 11;
  }

  .pomegues_fort {
    grid-column: 2 / 3;
    grid-row: 1 / 7;
  }

  .frioul_islands {
    grid-column: 2 / 3;
    grid-row: 7 / 11;
  }

  .calanques_national_park {
    grid-column: 3 / 4;
    grid-row: 1 / 11;
  }

  .Notre-Dame-de-la-Garde {
    grid-column: 4 / 5;
    grid-row: 1 / 6;
  }

  .longchamp_park {
    grid-column: 4 / 5;
    grid-row: 6 / 11;
  }

  .thumbnail_activities {
    height: auto;
  }

  .thumbnail_picture_activities { 
    object-fit: cover; 
    border-radius: 20px 20px 0px 0px;
    height: 100%;
    overflow: hidden;
  }

  .thumbnail_content_activities { 
    min-height: 50px;
    height: 50px;
    padding-left: 0px;
    flex-wrap: wrap;  
  }

}


/* footer */

footer {
  background-color: #f2f2f2;
  align-items: center;
}

.footer_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 30px;
  margin: auto;
}

footer a {
  text-decoration: none;
  color: black;
}

footer ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

footer li {
  margin-top: 15px;
}

.footer_item {
  padding-bottom: 30px;
}


@media screen and (min-width: 800px) {

  .footer_main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1400px; 
    width: 100%;
    padding: 0px;
  }

  footer ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0px;
  }

  .footer_item {
    padding: 30px;
    flex: 1;
  }

}

