@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

body {
  font-family: "Raleway", sans-serif;
  color: black;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  color: black;
}

h2 {
  font-size: large;
  color: black;
}

h3 {
  font-size: medium;
}

p {
  font-size: medium;
}

/* header*/
header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;  
  /* margin: 40px; */
}

.logo {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 20px;
}

/* .space {
    display: flex;
    flex: 1;
} */

nav {
  display: flex;
  align-items: center;
  order: 3;
  width: 100%;
}

.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* text-align: center; */
    text-decoration: none;
    border-bottom: 3px solid #f2f2f2;
    padding: 20px;
    width: 50%;
}

.nav_item:hover {
  color: #0065fc;
  text-decoration: none;
  border-bottom: 3px solid #0065fc;
  padding: 20px;
}

.register {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   flex: 1;
    order: 2;
  color: #0065fc;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
}

@media screen and (min-width: 800px) {

    header {
        display: flex;
        align-items: center;
        width: 100%;
        /* justify-content: space-between;   */
        /* margin: 40px; */
      }

      nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: auto;
        order: 2;
        flex: 1;
      }

      .nav_item {
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        /* text-align: center; */
        border-top: 3px solid #f2f2f2;
        border-bottom: 3px solid white;
        padding: 30px;
        width: auto;
    }

      .nav_item:hover {
        /* color: #0065fc;
        text-decoration: none; */
        border-top: 3px solid #0065fc;
        border-bottom: 3px solid white;
        padding: 30px;
      }

      .register {
        display: flex;
        flex: 0;
        order:3;
        /* justify-content: flex-end; */
        align-items: center;
        margin: 20px;
    }





}




#main_title {
  margin: auto;
  padding: 20px;
}

#search_bar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.map_marker_icon {
    background-color: #f2f2f2;
    border-radius: 30 0 0 30px;
}

.fa-search {
  display: flex;
  align-items: center;
  /* width: 50px;
  height: 50px; */
  background-color: #0065fc;
  border-radius: 30 0 0 30px;
}

.search_icon {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: #0065fc;
  border-radius: 15px;
}

.input_field {
  display: flex;
  justify-content: space-around;
  width: 20%;
  height: 100%;
}

.info_icon {
  width: 50px;
  height: 50px;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;



}

.fa-info {
  color: #0065fc;

  
}

.info_alert {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.info_alert_accomodation {

}

.most_popular {
    display: flex;
    margin: 40px;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line {
    
}

.popular {
    background-color: #f2f2f2;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: -16px; /* valeur négative pour retirer la marge de body ?*/
  background-color: #f2f2f2;
  min-height: 100px;
}

footer ul {
  list-style-type: none;
  margin-top: 20px;
}

footer li {
  margin-top: 15px;
}
.about {
  margin-top: 50px;
  margin-left: 50px;
}

.about_list {
  padding: 0;
}

.our_accomodation {
  margin-top: 50px;
  margin-left: 50px;
}

.our_accomodation_list {
  padding: 0;
}

.help {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.help_list {
  padding: 0;
}